
#image-container {
    width:100%;
}

#current-image {
    width:100%;
}

#fake-button {
    color: white;
    background-color: red;
    height: 75px;
    width:40%;
    border: 1px solid black;
}

#real-button {
    color:white;
    background-color: green;
    width: 40%;
    height: 75px;
    border: 1px solid black;
}

#buttons-container {
    display: flex;
    justify-content: center;
}